<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ntv.client.tv">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/bannerntv"
        android:label="@string/app_name"
        android:supportsRtl="false">
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/bannerntv"
            android:exported="true"
            android:permission="com.huawei.permission.THIRD_PARTY_ACCESS_ACTIVITY"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>