.container {
    width: 454px;
    height: 454px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-container {
    flex-direction: column;
    overflow: scroll;
    height: 400px;
}

.joke-text {
    width: 400px;
}

.button {
    margin: 10px;
}